.page1 {
    padding: 10%;
    display: flex;
    background-color: darkslategray;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
    height: 100vh;
}

.page1button #fileupload {
    display: none;
}

.page1button label {
    display: flex;
    background-color: #488aec;
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
        0 4px 6px -1px #488aec31,
        0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1types {
    display: flex;
    flex-direction: row;
    color: skyblue;
    font-size: 30px;
    gap: 25px;
}

.page1types button i:hover {
    scale: 1.1;
    transition: .2s ease;
    color: plum;
}
/* counting cards */
.page1 .card {
    width: 400px;
    height: 100px;
    background-color: darkcyan;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}

.card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
}

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
	background-color: #8977e0;
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

/* page2 */
.page2 .page2container1{
    height: 150px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.page2 .page2container1 h1{
    font-size: 60px;
}
.page2{
    background-color: darkslategray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}
.page2 .page2container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.page2 .page2container .box{
    width: 400px;
    height: 200px;
    border: 2px solid whitesmoke;
    padding:20px;
    text-align: justify;
    box-shadow: 0px 0px  20px black;
}
.page2 .page2container .box:hover{
	background-color: #8977e0;
    color: black;
    transition: .5s ease;
}